<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.UserMapper">

    <select id="selAll" resultType="com.mybatis.entity.User">
        select * from proticable
    </select>

    <select id="selOne" parameterType="_int" resultType="com.mybatis.entity.User">
        select name from proticable where uid = #{0}
    </select>

    <select id="selMap" parameterType="_int" resultType="map">
        select * from proticable where uid = #{0}
    </select>

    <select id="selMapInterface" parameterType="_int" resultType="User">
        select * from proticable where uid = #{0} or uid = #{param2}
    </select>

    <select id="selPageByMap" parameterType="map" resultType="User">
        select * from proticable limit #{pageStart},#{pageSize}
    </select>

    <select id="selPageByParam" resultType="User">
        select * from proticable limit #{pageStart},#{pageSize}
    </select>

    <insert id="insOne" parameterType="User">
        insert into proticable(uid,name,pwd) values(default,#{name},#{pwd})
    </insert>

    <update id="updPwd" parameterType="string">
        update proticable set pwd = #{0} where name = "zhangqi"
    </update>

    <delete id="delOne" parameterType="long">
        delete from proticable where uid = #{0}
    </delete>

</mapper>