<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启Log4j支持-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <!--单独为某个类起别名-->
        <typeAlias type="com.mybatis.entity.User" alias="User"/>
        <!--该包下所有类的别名为类名-->
        <package name="com.mybatis.entity"/>
    </typeAliases>
    <environments default="MySQL">
        <environment id="MySQL">
            <transactionManager type="JDBC">
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mmall?characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/mybatis/mapper/UserMapper.xml"/>
    </mappers>
</configuration>
